<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.tfsPlatform.mapper.TfBTradeFeeSubPoMapper" >
  <resultMap id="BaseResultMap" type="com.asiainfo.tfsPlatform.po.TfBTradeFeeSubPo" >
    <id column="TRADE_ID" property="tradeId" jdbcType="DECIMAL" />
    <id column="ACCEPT_MONTH" property="acceptMonth" jdbcType="DECIMAL" />
    <id column="FEE_MODE" property="feeMode" jdbcType="CHAR" />
    <id column="FEE_TYPE_CODE" property="feeTypeCode" jdbcType="DECIMAL" />
    <id column="CALCULATE_ID" property="calculateId" jdbcType="DECIMAL" />
    <result column="OLDFEE" property="oldfee" jdbcType="DECIMAL" />
    <result column="FEE" property="fee" jdbcType="DECIMAL" />
    <result column="CHARGE_ID" property="chargeId" jdbcType="DECIMAL" />
    <result column="DERATE_ID" property="derateId" jdbcType="DECIMAL" />
    <result column="DERATE_REMARK" property="derateRemark" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="MONTHS" property="months" jdbcType="DECIMAL" />
    <result column="CHARGE_SOURCE_CODE" property="chargeSourceCode" jdbcType="DECIMAL" />
    <result column="DPST_RTN_DATE" property="dpstRtnDate" jdbcType="TIMESTAMP" />
    <result column="LIMIT_FEE" property="limitFee" jdbcType="DECIMAL" />
    <result column="DEPOSIT_PRIOR_RULE_ID" property="depositPriorRuleId" jdbcType="DECIMAL" />
    <result column="RULE_ID" property="ruleId" jdbcType="DECIMAL" />
    <result column="APPR_STAFF_ID" property="apprStaffId" jdbcType="CHAR" />
    <result column="CALCULATE_DATE" property="calculateDate" jdbcType="TIMESTAMP" />
    <result column="STAFF_ID" property="staffId" jdbcType="CHAR" />
    <result column="CALCULATE_TAG" property="calculateTag" jdbcType="CHAR" />
    <result column="PAY_TAG" property="payTag" jdbcType="CHAR" />
    <result column="PAY_ID" property="payId" jdbcType="DECIMAL" />
    <result column="PAY_DATE" property="payDate" jdbcType="TIMESTAMP" />
    <result column="FEE_STAFF_ID" property="feeStaffId" jdbcType="CHAR" />
    <result column="FEE_DEPART_ID" property="feeDepartId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TRADE_ID, ACCEPT_MONTH, FEE_MODE, FEE_TYPE_CODE, CALCULATE_ID, OLDFEE, FEE, CHARGE_ID, 
    DERATE_ID, DERATE_REMARK, START_DATE, MONTHS, CHARGE_SOURCE_CODE, DPST_RTN_DATE, 
    LIMIT_FEE, DEPOSIT_PRIOR_RULE_ID, RULE_ID, APPR_STAFF_ID, CALCULATE_DATE, STAFF_ID, 
    CALCULATE_TAG, PAY_TAG, PAY_ID, PAY_DATE, FEE_STAFF_ID, FEE_DEPART_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from TF_B_TRADEFEE_SUB
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and FEE_MODE = #{feeMode,jdbcType=CHAR}
      and FEE_TYPE_CODE = #{feeTypeCode,jdbcType=DECIMAL}
      and CALCULATE_ID = #{calculateId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from TF_B_TRADEFEE_SUB
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and FEE_MODE = #{feeMode,jdbcType=CHAR}
      and FEE_TYPE_CODE = #{feeTypeCode,jdbcType=DECIMAL}
      and CALCULATE_ID = #{calculateId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.asiainfo.tfsPlatform.po.TfBTradeFeeSubPo" >
    insert into TF_B_TRADEFEE_SUB (TRADE_ID, ACCEPT_MONTH, FEE_MODE, 
      FEE_TYPE_CODE, CALCULATE_ID, OLDFEE, 
      FEE, CHARGE_ID, DERATE_ID, 
      DERATE_REMARK, START_DATE, MONTHS, 
      CHARGE_SOURCE_CODE, DPST_RTN_DATE, LIMIT_FEE, 
      DEPOSIT_PRIOR_RULE_ID, RULE_ID, APPR_STAFF_ID, 
      CALCULATE_DATE, STAFF_ID, CALCULATE_TAG, 
      PAY_TAG, PAY_ID, PAY_DATE, 
      FEE_STAFF_ID, FEE_DEPART_ID)
    values (#{tradeId,jdbcType=DECIMAL}, #{acceptMonth,jdbcType=DECIMAL}, #{feeMode,jdbcType=CHAR}, 
      #{feeTypeCode,jdbcType=DECIMAL}, #{calculateId,jdbcType=DECIMAL}, #{oldfee,jdbcType=DECIMAL}, 
      #{fee,jdbcType=DECIMAL}, #{chargeId,jdbcType=DECIMAL}, #{derateId,jdbcType=DECIMAL}, 
      #{derateRemark,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, #{months,jdbcType=DECIMAL}, 
      #{chargeSourceCode,jdbcType=DECIMAL}, #{dpstRtnDate,jdbcType=TIMESTAMP}, #{limitFee,jdbcType=DECIMAL}, 
      #{depositPriorRuleId,jdbcType=DECIMAL}, #{ruleId,jdbcType=DECIMAL}, #{apprStaffId,jdbcType=CHAR}, 
      #{calculateDate,jdbcType=TIMESTAMP}, #{staffId,jdbcType=CHAR}, #{calculateTag,jdbcType=CHAR}, 
      #{payTag,jdbcType=CHAR}, #{payId,jdbcType=DECIMAL}, #{payDate,jdbcType=TIMESTAMP}, 
      #{feeStaffId,jdbcType=CHAR}, #{feeDepartId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asiainfo.tfsPlatform.po.TfBTradeFeeSubPo" >
    insert into TF_B_TRADEFEE_SUB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        TRADE_ID,
      </if>
      <if test="acceptMonth != null" >
        ACCEPT_MONTH,
      </if>
      <if test="feeMode != null" >
        FEE_MODE,
      </if>
      <if test="feeTypeCode != null" >
        FEE_TYPE_CODE,
      </if>
      <if test="calculateId != null" >
        CALCULATE_ID,
      </if>
      <if test="oldfee != null" >
        OLDFEE,
      </if>
      <if test="fee != null" >
        FEE,
      </if>
      <if test="chargeId != null" >
        CHARGE_ID,
      </if>
      <if test="derateId != null" >
        DERATE_ID,
      </if>
      <if test="derateRemark != null" >
        DERATE_REMARK,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="months != null" >
        MONTHS,
      </if>
      <if test="chargeSourceCode != null" >
        CHARGE_SOURCE_CODE,
      </if>
      <if test="dpstRtnDate != null" >
        DPST_RTN_DATE,
      </if>
      <if test="limitFee != null" >
        LIMIT_FEE,
      </if>
      <if test="depositPriorRuleId != null" >
        DEPOSIT_PRIOR_RULE_ID,
      </if>
      <if test="ruleId != null" >
        RULE_ID,
      </if>
      <if test="apprStaffId != null" >
        APPR_STAFF_ID,
      </if>
      <if test="calculateDate != null" >
        CALCULATE_DATE,
      </if>
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="calculateTag != null" >
        CALCULATE_TAG,
      </if>
      <if test="payTag != null" >
        PAY_TAG,
      </if>
      <if test="payId != null" >
        PAY_ID,
      </if>
      <if test="payDate != null" >
        PAY_DATE,
      </if>
      <if test="feeStaffId != null" >
        FEE_STAFF_ID,
      </if>
      <if test="feeDepartId != null" >
        FEE_DEPART_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        #{tradeId,jdbcType=DECIMAL},
      </if>
      <if test="acceptMonth != null" >
        #{acceptMonth,jdbcType=DECIMAL},
      </if>
      <if test="feeMode != null" >
        #{feeMode,jdbcType=CHAR},
      </if>
      <if test="feeTypeCode != null" >
        #{feeTypeCode,jdbcType=DECIMAL},
      </if>
      <if test="calculateId != null" >
        #{calculateId,jdbcType=DECIMAL},
      </if>
      <if test="oldfee != null" >
        #{oldfee,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="chargeId != null" >
        #{chargeId,jdbcType=DECIMAL},
      </if>
      <if test="derateId != null" >
        #{derateId,jdbcType=DECIMAL},
      </if>
      <if test="derateRemark != null" >
        #{derateRemark,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="months != null" >
        #{months,jdbcType=DECIMAL},
      </if>
      <if test="chargeSourceCode != null" >
        #{chargeSourceCode,jdbcType=DECIMAL},
      </if>
      <if test="dpstRtnDate != null" >
        #{dpstRtnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="limitFee != null" >
        #{limitFee,jdbcType=DECIMAL},
      </if>
      <if test="depositPriorRuleId != null" >
        #{depositPriorRuleId,jdbcType=DECIMAL},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=DECIMAL},
      </if>
      <if test="apprStaffId != null" >
        #{apprStaffId,jdbcType=CHAR},
      </if>
      <if test="calculateDate != null" >
        #{calculateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=CHAR},
      </if>
      <if test="calculateTag != null" >
        #{calculateTag,jdbcType=CHAR},
      </if>
      <if test="payTag != null" >
        #{payTag,jdbcType=CHAR},
      </if>
      <if test="payId != null" >
        #{payId,jdbcType=DECIMAL},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="feeStaffId != null" >
        #{feeStaffId,jdbcType=CHAR},
      </if>
      <if test="feeDepartId != null" >
        #{feeDepartId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asiainfo.tfsPlatform.po.TfBTradeFeeSubPo" >
    update TF_B_TRADEFEE_SUB
    <set >
      <if test="oldfee != null" >
        OLDFEE = #{oldfee,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        FEE = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="chargeId != null" >
        CHARGE_ID = #{chargeId,jdbcType=DECIMAL},
      </if>
      <if test="derateId != null" >
        DERATE_ID = #{derateId,jdbcType=DECIMAL},
      </if>
      <if test="derateRemark != null" >
        DERATE_REMARK = #{derateRemark,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="months != null" >
        MONTHS = #{months,jdbcType=DECIMAL},
      </if>
      <if test="chargeSourceCode != null" >
        CHARGE_SOURCE_CODE = #{chargeSourceCode,jdbcType=DECIMAL},
      </if>
      <if test="dpstRtnDate != null" >
        DPST_RTN_DATE = #{dpstRtnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="limitFee != null" >
        LIMIT_FEE = #{limitFee,jdbcType=DECIMAL},
      </if>
      <if test="depositPriorRuleId != null" >
        DEPOSIT_PRIOR_RULE_ID = #{depositPriorRuleId,jdbcType=DECIMAL},
      </if>
      <if test="ruleId != null" >
        RULE_ID = #{ruleId,jdbcType=DECIMAL},
      </if>
      <if test="apprStaffId != null" >
        APPR_STAFF_ID = #{apprStaffId,jdbcType=CHAR},
      </if>
      <if test="calculateDate != null" >
        CALCULATE_DATE = #{calculateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null" >
        STAFF_ID = #{staffId,jdbcType=CHAR},
      </if>
      <if test="calculateTag != null" >
        CALCULATE_TAG = #{calculateTag,jdbcType=CHAR},
      </if>
      <if test="payTag != null" >
        PAY_TAG = #{payTag,jdbcType=CHAR},
      </if>
      <if test="payId != null" >
        PAY_ID = #{payId,jdbcType=DECIMAL},
      </if>
      <if test="payDate != null" >
        PAY_DATE = #{payDate,jdbcType=TIMESTAMP},
      </if>
      <if test="feeStaffId != null" >
        FEE_STAFF_ID = #{feeStaffId,jdbcType=CHAR},
      </if>
      <if test="feeDepartId != null" >
        FEE_DEPART_ID = #{feeDepartId,jdbcType=CHAR},
      </if>
    </set>
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and FEE_MODE = #{feeMode,jdbcType=CHAR}
      and FEE_TYPE_CODE = #{feeTypeCode,jdbcType=DECIMAL}
      and CALCULATE_ID = #{calculateId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asiainfo.tfsPlatform.po.TfBTradeFeeSubPo" >
    update TF_B_TRADEFEE_SUB
    set OLDFEE = #{oldfee,jdbcType=DECIMAL},
      FEE = #{fee,jdbcType=DECIMAL},
      CHARGE_ID = #{chargeId,jdbcType=DECIMAL},
      DERATE_ID = #{derateId,jdbcType=DECIMAL},
      DERATE_REMARK = #{derateRemark,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=TIMESTAMP},
      MONTHS = #{months,jdbcType=DECIMAL},
      CHARGE_SOURCE_CODE = #{chargeSourceCode,jdbcType=DECIMAL},
      DPST_RTN_DATE = #{dpstRtnDate,jdbcType=TIMESTAMP},
      LIMIT_FEE = #{limitFee,jdbcType=DECIMAL},
      DEPOSIT_PRIOR_RULE_ID = #{depositPriorRuleId,jdbcType=DECIMAL},
      RULE_ID = #{ruleId,jdbcType=DECIMAL},
      APPR_STAFF_ID = #{apprStaffId,jdbcType=CHAR},
      CALCULATE_DATE = #{calculateDate,jdbcType=TIMESTAMP},
      STAFF_ID = #{staffId,jdbcType=CHAR},
      CALCULATE_TAG = #{calculateTag,jdbcType=CHAR},
      PAY_TAG = #{payTag,jdbcType=CHAR},
      PAY_ID = #{payId,jdbcType=DECIMAL},
      PAY_DATE = #{payDate,jdbcType=TIMESTAMP},
      FEE_STAFF_ID = #{feeStaffId,jdbcType=CHAR},
      FEE_DEPART_ID = #{feeDepartId,jdbcType=CHAR}
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and FEE_MODE = #{feeMode,jdbcType=CHAR}
      and FEE_TYPE_CODE = #{feeTypeCode,jdbcType=DECIMAL}
      and CALCULATE_ID = #{calculateId,jdbcType=DECIMAL}
  </update>
</mapper>