<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.tfsPlatform.mapper.TfBTradeAccountPoMapper" >
  <resultMap id="BaseResultMap" type="com.asiainfo.tfsPlatform.po.TfBTradeAccountPo" >
    <id column="TRADE_ID" property="tradeId" jdbcType="DECIMAL" />
    <id column="ACCEPT_MONTH" property="acceptMonth" jdbcType="DECIMAL" />
    <id column="ACCT_ID" property="acctId" jdbcType="DECIMAL" />
    <result column="PARTITION_ID" property="partitionId" jdbcType="DECIMAL" />
    <result column="EPARCHY_CODE" property="eparchyCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="CUST_ID" property="custId" jdbcType="DECIMAL" />
    <result column="PAY_NAME" property="payName" jdbcType="VARCHAR" />
    <result column="NET_TYPE_CODE" property="netTypeCode" jdbcType="CHAR" />
    <result column="ACCT_PASSWD" property="acctPasswd" jdbcType="VARCHAR" />
    <result column="PAY_MODE_CODE" property="payModeCode" jdbcType="CHAR" />
    <result column="SCORE_VALUE" property="scoreValue" jdbcType="DECIMAL" />
    <result column="CREDIT_CLASS_ID" property="creditClassId" jdbcType="DECIMAL" />
    <result column="BASIC_CREDIT_VALUE" property="basicCreditValue" jdbcType="DECIMAL" />
    <result column="CREDIT_VALUE" property="creditValue" jdbcType="DECIMAL" />
    <result column="CREDIT_CONTROL_ID" property="creditControlId" jdbcType="DECIMAL" />
    <result column="DEBUTY_USER_ID" property="debutyUserId" jdbcType="DECIMAL" />
    <result column="DEBUTY_CODE" property="debutyCode" jdbcType="VARCHAR" />
    <result column="CONTRACT_NO" property="contractNo" jdbcType="VARCHAR" />
    <result column="REMOVE_TAG" property="removeTag" jdbcType="CHAR" />
    <result column="OPEN_DATE" property="openDate" jdbcType="TIMESTAMP" />
    <result column="REMOVE_DATE" property="removeDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_DEPART_ID" property="updateDepartId" jdbcType="VARCHAR" />
    <result column="UPDATE_STAFF_ID" property="updateStaffId" jdbcType="VARCHAR" />
    <result column="OLD_ACCT_ID" property="oldAcctId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    TRADE_ID, ACCEPT_MONTH, ACCT_ID, PARTITION_ID, EPARCHY_CODE, CITY_CODE, CUST_ID, 
    PAY_NAME, NET_TYPE_CODE, ACCT_PASSWD, PAY_MODE_CODE, SCORE_VALUE, CREDIT_CLASS_ID, 
    BASIC_CREDIT_VALUE, CREDIT_VALUE, CREDIT_CONTROL_ID, DEBUTY_USER_ID, DEBUTY_CODE, 
    CONTRACT_NO, REMOVE_TAG, OPEN_DATE, REMOVE_DATE, UPDATE_TIME, UPDATE_DEPART_ID, UPDATE_STAFF_ID, 
    OLD_ACCT_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from TF_B_TRADE_ACCOUNT
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and ACCT_ID = #{acctId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from TF_B_TRADE_ACCOUNT
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and ACCT_ID = #{acctId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.asiainfo.tfsPlatform.po.TfBTradeAccountPo" >
    insert into TF_B_TRADE_ACCOUNT (TRADE_ID, ACCEPT_MONTH, ACCT_ID, 
      PARTITION_ID, EPARCHY_CODE, CITY_CODE, 
      CUST_ID, PAY_NAME, NET_TYPE_CODE, 
      ACCT_PASSWD, PAY_MODE_CODE, SCORE_VALUE, 
      CREDIT_CLASS_ID, BASIC_CREDIT_VALUE, CREDIT_VALUE, 
      CREDIT_CONTROL_ID, DEBUTY_USER_ID, DEBUTY_CODE, 
      CONTRACT_NO, REMOVE_TAG, OPEN_DATE, 
      REMOVE_DATE, UPDATE_TIME, UPDATE_DEPART_ID, 
      UPDATE_STAFF_ID, OLD_ACCT_ID)
    values (#{tradeId,jdbcType=DECIMAL}, #{acceptMonth,jdbcType=DECIMAL}, #{acctId,jdbcType=DECIMAL}, 
      #{partitionId,jdbcType=DECIMAL}, #{eparchyCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{custId,jdbcType=DECIMAL}, #{payName,jdbcType=VARCHAR}, #{netTypeCode,jdbcType=CHAR}, 
      #{acctPasswd,jdbcType=VARCHAR}, #{payModeCode,jdbcType=CHAR}, #{scoreValue,jdbcType=DECIMAL}, 
      #{creditClassId,jdbcType=DECIMAL}, #{basicCreditValue,jdbcType=DECIMAL}, #{creditValue,jdbcType=DECIMAL}, 
      #{creditControlId,jdbcType=DECIMAL}, #{debutyUserId,jdbcType=DECIMAL}, #{debutyCode,jdbcType=VARCHAR}, 
      #{contractNo,jdbcType=VARCHAR}, #{removeTag,jdbcType=CHAR}, #{openDate,jdbcType=TIMESTAMP}, 
      #{removeDate,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{updateDepartId,jdbcType=VARCHAR}, 
      #{updateStaffId,jdbcType=VARCHAR}, #{oldAcctId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.asiainfo.tfsPlatform.po.TfBTradeAccountPo" >
    insert into TF_B_TRADE_ACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        TRADE_ID,
      </if>
      <if test="acceptMonth != null" >
        ACCEPT_MONTH,
      </if>
      <if test="acctId != null" >
        ACCT_ID,
      </if>
      <if test="partitionId != null" >
        PARTITION_ID,
      </if>
      <if test="eparchyCode != null" >
        EPARCHY_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="payName != null" >
        PAY_NAME,
      </if>
      <if test="netTypeCode != null" >
        NET_TYPE_CODE,
      </if>
      <if test="acctPasswd != null" >
        ACCT_PASSWD,
      </if>
      <if test="payModeCode != null" >
        PAY_MODE_CODE,
      </if>
      <if test="scoreValue != null" >
        SCORE_VALUE,
      </if>
      <if test="creditClassId != null" >
        CREDIT_CLASS_ID,
      </if>
      <if test="basicCreditValue != null" >
        BASIC_CREDIT_VALUE,
      </if>
      <if test="creditValue != null" >
        CREDIT_VALUE,
      </if>
      <if test="creditControlId != null" >
        CREDIT_CONTROL_ID,
      </if>
      <if test="debutyUserId != null" >
        DEBUTY_USER_ID,
      </if>
      <if test="debutyCode != null" >
        DEBUTY_CODE,
      </if>
      <if test="contractNo != null" >
        CONTRACT_NO,
      </if>
      <if test="removeTag != null" >
        REMOVE_TAG,
      </if>
      <if test="openDate != null" >
        OPEN_DATE,
      </if>
      <if test="removeDate != null" >
        REMOVE_DATE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateDepartId != null" >
        UPDATE_DEPART_ID,
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID,
      </if>
      <if test="oldAcctId != null" >
        OLD_ACCT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        #{tradeId,jdbcType=DECIMAL},
      </if>
      <if test="acceptMonth != null" >
        #{acceptMonth,jdbcType=DECIMAL},
      </if>
      <if test="acctId != null" >
        #{acctId,jdbcType=DECIMAL},
      </if>
      <if test="partitionId != null" >
        #{partitionId,jdbcType=DECIMAL},
      </if>
      <if test="eparchyCode != null" >
        #{eparchyCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=DECIMAL},
      </if>
      <if test="payName != null" >
        #{payName,jdbcType=VARCHAR},
      </if>
      <if test="netTypeCode != null" >
        #{netTypeCode,jdbcType=CHAR},
      </if>
      <if test="acctPasswd != null" >
        #{acctPasswd,jdbcType=VARCHAR},
      </if>
      <if test="payModeCode != null" >
        #{payModeCode,jdbcType=CHAR},
      </if>
      <if test="scoreValue != null" >
        #{scoreValue,jdbcType=DECIMAL},
      </if>
      <if test="creditClassId != null" >
        #{creditClassId,jdbcType=DECIMAL},
      </if>
      <if test="basicCreditValue != null" >
        #{basicCreditValue,jdbcType=DECIMAL},
      </if>
      <if test="creditValue != null" >
        #{creditValue,jdbcType=DECIMAL},
      </if>
      <if test="creditControlId != null" >
        #{creditControlId,jdbcType=DECIMAL},
      </if>
      <if test="debutyUserId != null" >
        #{debutyUserId,jdbcType=DECIMAL},
      </if>
      <if test="debutyCode != null" >
        #{debutyCode,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="removeTag != null" >
        #{removeTag,jdbcType=CHAR},
      </if>
      <if test="openDate != null" >
        #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeDate != null" >
        #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDepartId != null" >
        #{updateDepartId,jdbcType=VARCHAR},
      </if>
      <if test="updateStaffId != null" >
        #{updateStaffId,jdbcType=VARCHAR},
      </if>
      <if test="oldAcctId != null" >
        #{oldAcctId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asiainfo.tfsPlatform.po.TfBTradeAccountPo" >
    update TF_B_TRADE_ACCOUNT
    <set >
      <if test="partitionId != null" >
        PARTITION_ID = #{partitionId,jdbcType=DECIMAL},
      </if>
      <if test="eparchyCode != null" >
        EPARCHY_CODE = #{eparchyCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=DECIMAL},
      </if>
      <if test="payName != null" >
        PAY_NAME = #{payName,jdbcType=VARCHAR},
      </if>
      <if test="netTypeCode != null" >
        NET_TYPE_CODE = #{netTypeCode,jdbcType=CHAR},
      </if>
      <if test="acctPasswd != null" >
        ACCT_PASSWD = #{acctPasswd,jdbcType=VARCHAR},
      </if>
      <if test="payModeCode != null" >
        PAY_MODE_CODE = #{payModeCode,jdbcType=CHAR},
      </if>
      <if test="scoreValue != null" >
        SCORE_VALUE = #{scoreValue,jdbcType=DECIMAL},
      </if>
      <if test="creditClassId != null" >
        CREDIT_CLASS_ID = #{creditClassId,jdbcType=DECIMAL},
      </if>
      <if test="basicCreditValue != null" >
        BASIC_CREDIT_VALUE = #{basicCreditValue,jdbcType=DECIMAL},
      </if>
      <if test="creditValue != null" >
        CREDIT_VALUE = #{creditValue,jdbcType=DECIMAL},
      </if>
      <if test="creditControlId != null" >
        CREDIT_CONTROL_ID = #{creditControlId,jdbcType=DECIMAL},
      </if>
      <if test="debutyUserId != null" >
        DEBUTY_USER_ID = #{debutyUserId,jdbcType=DECIMAL},
      </if>
      <if test="debutyCode != null" >
        DEBUTY_CODE = #{debutyCode,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="removeTag != null" >
        REMOVE_TAG = #{removeTag,jdbcType=CHAR},
      </if>
      <if test="openDate != null" >
        OPEN_DATE = #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="removeDate != null" >
        REMOVE_DATE = #{removeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDepartId != null" >
        UPDATE_DEPART_ID = #{updateDepartId,jdbcType=VARCHAR},
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID = #{updateStaffId,jdbcType=VARCHAR},
      </if>
      <if test="oldAcctId != null" >
        OLD_ACCT_ID = #{oldAcctId,jdbcType=DECIMAL},
      </if>
    </set>
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and ACCT_ID = #{acctId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asiainfo.tfsPlatform.po.TfBTradeAccountPo" >
    update TF_B_TRADE_ACCOUNT
    set PARTITION_ID = #{partitionId,jdbcType=DECIMAL},
      EPARCHY_CODE = #{eparchyCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      CUST_ID = #{custId,jdbcType=DECIMAL},
      PAY_NAME = #{payName,jdbcType=VARCHAR},
      NET_TYPE_CODE = #{netTypeCode,jdbcType=CHAR},
      ACCT_PASSWD = #{acctPasswd,jdbcType=VARCHAR},
      PAY_MODE_CODE = #{payModeCode,jdbcType=CHAR},
      SCORE_VALUE = #{scoreValue,jdbcType=DECIMAL},
      CREDIT_CLASS_ID = #{creditClassId,jdbcType=DECIMAL},
      BASIC_CREDIT_VALUE = #{basicCreditValue,jdbcType=DECIMAL},
      CREDIT_VALUE = #{creditValue,jdbcType=DECIMAL},
      CREDIT_CONTROL_ID = #{creditControlId,jdbcType=DECIMAL},
      DEBUTY_USER_ID = #{debutyUserId,jdbcType=DECIMAL},
      DEBUTY_CODE = #{debutyCode,jdbcType=VARCHAR},
      CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      REMOVE_TAG = #{removeTag,jdbcType=CHAR},
      OPEN_DATE = #{openDate,jdbcType=TIMESTAMP},
      REMOVE_DATE = #{removeDate,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_DEPART_ID = #{updateDepartId,jdbcType=VARCHAR},
      UPDATE_STAFF_ID = #{updateStaffId,jdbcType=VARCHAR},
      OLD_ACCT_ID = #{oldAcctId,jdbcType=DECIMAL}
    where TRADE_ID = #{tradeId,jdbcType=DECIMAL}
      and ACCEPT_MONTH = #{acceptMonth,jdbcType=DECIMAL}
      and ACCT_ID = #{acctId,jdbcType=DECIMAL}
  </update>
</mapper>