<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.tfsPlatform.mapper.ext.TfFOrgPoExtMapper" >
  <resultMap id="BaseResultMap" type="com.asiainfo.tfsPlatform.po.TfFOrgPo" >
    <id column="ORG_ID" property="orgId" jdbcType="DECIMAL" />
    <result column="CUST_ID" property="custId" jdbcType="DECIMAL" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="PARENT_ORG_ID" property="parentOrgId" jdbcType="DECIMAL" />
    <result column="ORG_TYPE" property="orgType" jdbcType="CHAR" />
    <result column="ORG_TYPE_CODE" property="orgTypeCode" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ORG_ID, CUST_ID, ORG_NAME, PARENT_ORG_ID, ORG_TYPE, ORG_TYPE_CODE, REMARK
  </sql>
  
  <select id="selectByMultiCondition" parameterType="com.asiainfo.tfsPlatform.po.TfFOrgPo" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from TF_F_ORG
    where 1=1 
    <if test="custId != null" >
      and  CUST_ID = #{custId,jdbcType=DECIMAL}
    </if>
    <if test="orgName != null" >
      and  ORG_NAME like CONCAT('%',#{orgName,jdbcType=VARCHAR},'%' )
    </if>
    <if test="orgType != null" >
      and  ORG_TYPE like CONCAT('%',#{orgType,jdbcType=VARCHAR},'%' )
    </if>
  </select>
</mapper>